

.error-message {
            color: red;
            font-size: 12px;
            display: none;
        }




        #messageContainer {
            position: fixed;
            top: 0;
            width: 100%;
            padding: 10px;
            text-align: center;
            display: none;
            font-size: 1.2em;
            z-index: 1000; /* Ensures it is on top of other elements */
        }
        #messageContainer.success {
            background-color: #d4edda;
            color: #155724;
            border: 1px solid #c3e6cb;
        }
        #messageContainer.error {
            background-color: #f8d7da;
            color: #721c24;
            border: 1px solid #f5c6cb;
        }
        #messageTimer {
            height: 5px;
            background-color: green;
            animation: timer 5s linear forwards;
        }
        @keyframes timer {
            from { width: 100%; }
            to { width: 0%; }
        }